providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    websecure:
      port: 8443
      protocol: HTTPS
      mode: Terminate
      certificateRefs:
        - name: traefik-tls-secret  # Must be a 'kubernetes.io/tls' type secret
          kind: Secret
      namespacePolicy:
        from: All  # Allows HTTPRoutes from other namespaces to use this
ports:
  web:
    # This section handles the redirect properly for the Helm chart
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
logs:
  general:
    format: "json"
    level: TRACE
  access:
    enabled: true
    fields:
      headers:
        defaultMode: keep
