apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: metrics
  namespace: infra-services
spec:
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    processors:
      batch: {}
      memory_limiter:
        check_interval: 1s
        limit_percentage: 75
        spike_limit_percentage: 15
      k8sattributes:
        passthrough: false
        extract:
          metadata:
            - k8s.pod.name
            - k8s.namespace.name
            - k8s.deployment.name
      resource:
        attributes:
          - key: service.name
            from_attribute: k8s.deployment.name
            action: insert
          - key: service.name
            from_attribute: k8s.pod.name
            action: insert
    exporters:
      debug:
        verbosity: basic
      otlp/lgtm:
        endpoint: "lgtm.infra-services.svc.cluster.local:4317"
        tls:
          insecure: true
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, resource, batch]
          exporters: [debug, otlp/lgtm]
        logs:
          receivers: [otlp]
          processors: [memory_limiter, resource, batch]
          exporters: [debug, otlp/lgtm]
        metrics:
          receivers: [otlp]
          # Corrected: processors go here, exporters go in the next line
          processors: [memory_limiter, resource, batch]
          exporters: [debug, otlp/lgtm]
